<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<p>
  <strong>Borrow date:</strong>
  <%= @book.borrow_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @book.return_date %>
</p>

<%= button_to "Edit", edit_book_path(@book), :id => "edit-btn",
    :class => "btn btn-primary mt-2", :method => :get %>
<%= button_to "Back", books_path, :id => "books-path-btn",
    :class => "btn btn-primary mt-2", :method => :get %>